[class^="i-"],
[class*=" i-"] {
  opacity:0.75;

  cursor:pointer;

  display:inline-block;

  &:hover {
    opacity:1
  }

}

.i-heart,
.i-heart-full {
  vertical-align: -26%;
}

.i-heart {
  @include inline-svg($heart);
}

.i-heart-full {
  @include inline-svg($heart-full);

  opacity:1;
}


.i-facebook {

}

.i-instagram {

}
