.Photo {
  display: block;

  width: 100%;
  height: auto;
  
  position: relative;
  overflow: hidden;

  margin-bottom: $inuit-base-spacing-unit;

  background:#e1e1e1;

  &.Photo--large {
    display:none
  }

  @include mq($from: tablet) {
      &.Photo--large {
        display:block;
      }

      &.Photo--mobile {
        display:none;
      }

  }

}

  .Photo__element {
    display: block;

    max-width: 100%;
    max-height: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0;

    -webkit-transition: opacity 500ms ease-in-out;
       -moz-transition:  opacity 500ms ease-in-out;
         -o-transition:  opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
               
    &.Photo__element--loaded {
      opacity: 1  
    }
  }
